@model IEnumerable<BR_HAXA_FE.IDENTITY.Models.Empleado>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<div style="margin-left:50px">
    <p>
        <a asp-action="Create">Crear nuevo empleado</a>
    </p>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Cedula de Identificación
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    Primer Apellido
                </th>
                <th>
                    Segundo Apellido
                </th>
                <th>
                    Telefono
                </th>
                <th>
                    Correo electronico
                </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CedulaIdentificacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellido1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellido2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdEmpleado">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.IdEmpleado">Detalles</a> |
                        <a asp-action="Delete" asp-route-id="@item.IdEmpleado">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
