@model IEnumerable<BR_HAXA_FE.IDENTITY.Models.PropiedadV>

@if(Model.Count() == 0)
            {
<h3 class="w3-border-bottom w3-border-light-grey" style="text-align:center;">No se han encontrado propiedades</h3>
            }
    @foreach (var item in Model)
    {
        <div id="dprop" class="boost-pfs-filter-product-item boost-pfs-filter-product-item-grid boost-pfs-filter-grid-width-3 boost-pfs-filter-grid-width-mb-1 has-bc-swap-image" data-id="6582722756704" data-page="1">
            <div class="boost-pfs-filter-product-item-inner">
                <div class="boost-pfs-filter-product-item-image">
                    <a href="@Url.Action("Propiedad","Home",new {id=@item.Property.IdPropiedad})" class="boost-pfs-filter-product-item-image-link" style="padding-top:100%;">
                        @{int lengthImg = item.Img.Count; }
                        @switch (lengthImg)
                        {

                            case 1:
                                <img class="boost-pfs-filter-product-item-main-image Image--lazyLoad lazyautosizes ls-is-cached lazyloaded"
                                     data-src="@item.Img[0].Link"
                                     data-widths="[180,360,540,720,900,1080,1296,1512,1728,2048]" data-sizes="auto"
                                     src="@item.Img[0].Link"
                                     alt="@item.Property.Nombre" sizes="auto" />
                                <img class="boost-pfs-filter-product-item-flip-image Image--lazyLoad lazyautosizes ls-is-cached lazyloaded"
                                     data-src="@item.Img[0].Link"
                                     data-widths="[180,360,540,720,900,1080,1296,1512,1728,2048]" data-sizes="auto"
                                     src="@item.Img[0].Link"
                                     alt="@item.Property.Nombre" sizes="auto" /> break;
                            case 0:
                                <img class="boost-pfs-filter-product-item-main-image Image--lazyLoad lazyautosizes ls-is-cached lazyloaded"
                                     data-src="~/Content/images/Portada-bienes-raices.jpg"
                                     data-widths="[180,360,540,720,900,1080,1296,1512,1728,2048]" data-sizes="auto"
                                     src="~/Content/images/Portada-bienes-raices.jpg"
                                     alt="@item.Property.Nombre" sizes="auto" />
                                <img class="boost-pfs-filter-product-item-flip-image Image--lazyLoad lazyautosizes ls-is-cached lazyloaded"
                                     data-src="~/Content/images/Portada-bienes-raices.jpg"
                                     data-widths="[180,360,540,720,900,1080,1296,1512,1728,2048]" data-sizes="auto"
                                     src="~/Content/images/Portada-bienes-raices.jpg"
                                     alt="@item.Property.Nombre" sizes="auto" /> break;
                            default:
                                <img class="boost-pfs-filter-product-item-main-image Image--lazyLoad lazyautosizes ls-is-cached lazyloaded"
                                     data-src="@item.Img[0].Link"
                                     data-widths="[180,360,540,720,900,1080,1296,1512,1728,2048]" data-sizes="auto"
                                     src="@item.Img[0].Link"
                                     alt="@item.Property.Nombre" sizes="auto" />
                                <img class="boost-pfs-filter-product-item-flip-image Image--lazyLoad lazyautosizes ls-is-cached lazyloaded"
                                     data-src="@item.Img[1].Link"
                                     data-widths="[180,360,540,720,900,1080,1296,1512,1728,2048]" data-sizes="auto"
                                     src="@item.Img[1].Link"
                                     alt="@item.Property.Nombre" sizes="auto" />break;
                        }
                    </a>
                    @*<div class="boost-pfs-filter-product-item-label">
                            <span class="tag boost-pfs-filter-label tagblack-friday-2021">Oferta</span>

                            <span class="tag boost-pfs-filter-label tagcon-obsequio">Destacada</span>
                        </div>*@
                </div>

                <div class="boost-pfs-filter-product-bottom">

                    <a href="@Url.Action("Propiedad","Home",new {id=item.Property.IdPropiedad})" class="boost-pfs-product-item-manufacturer">@item.Property.Nombre</a>
                    <a href="@Url.Action("Propiedad","Home",new {id=item.Property.IdPropiedad})" class="boost-pfs-filter-product-item-title">@item.Property.Descripcion</a>
                    <!-- <p class="boost-pfs-filter-product-item-vendor">Promadis S.A.</p> -->

                    <div class="testfreaks-item tf-item-tracked testfreaks-loaded" data-product-id="50SUC9300">
                        <div class="testfreaks-items">
                            <div title="5.0 / 5" class="testfreaks">
                                <div class="tf-stars tf-stars-svg">
                                    <div class="tf-stars-svg tf-stars-fg">
                                    </div>
                                </div>
                                <div class="tf-based">
                                    <div class="tf-count">@item.Property.M2 m2</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="@Url.Action("Propiedad","Home",new {id=item.Property.IdPropiedad})">
                        <p class="boost-pfs-filter-product-item-price">
                            <!--if descuento--> <!--<s><span class="money">₡381,900</span></s>--> <!--if descuento-->
                            <span class="boost-pfs-filter-product-item-sale-price">
                                <span class="money">$@item.Property.Precio</span>
                            </span>
                        </p>
                    </a>
                </div>
            </div>
        </div>}